body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #001f3f, #011a33);
    color: white;
    background: url('fondo.png') no-repeat center center fixed;
    background-size: cover;
}

canvas {
    display: block;
}

.descripcion {
    font-size: 22px; /* Cambia el tamaño de la letra */
    font-family: 'Arial', sans-serif; /* Cambia el tipo de letra */
}


.score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}
.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    display: none;
    background-color: red;
}
.pause-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(11, 23, 139);
    color: white;
    border: none;
    cursor: pointer;
}
#introScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: white;
}

#startButton, #pauseButton, #detailsButton, #backButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
.pause-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
#playButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;;
}

#pauseButton, #playButton {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
